<% include inc/header.html %>
<h2 class="legend">对比信息</h2>
<table class="table-overview" style="width:100%">
    <tr>
        <th></th>
        <th width="45%" style="text-align:center"><b>淘宝</b></th>
        <th width="45%" style="text-align:center"><b>货源</b></th>
    </tr>
    <tr>
        <th><b>酒店：</b></th>
        <td><%=taobao.hotel%></td>
        <th style="text-align:left">
            <% if (formdata.hotelid) { %><%=list[0]["namechn"]%><% } else { %>?<% } %>
        </th>
    </tr>
    <tr>
        <th><b>房型：</b></th>
        <td><%=taobao.room%></td>
        <th style="text-align:left">?</th>
    </tr>
    <tr>
        <th><b>地址：</b></th>
        <td><%=taobao.address%></td>
        <th style="text-align:left">?</th>
    </tr>
    <tr>
        <th><b>床型：</b></th>
        <td><%=taobao.bedtype%></td>
        <th style="text-align:left">?</th>
    </tr>
    <tr>
        <th><b>面积：</b></th>
        <td><%=taobao.area%> &#13217;</td>
        <th style="text-align:left">?</th>
    </tr>
</table>
<h2 class="legend">货源列表</h2>
<% if (!formdata.hotelid) { %>
<div class="toolbar-content clearfix">
    <div id="toolbar" class="clearfix">
        <form id="changelist-search" action="" method="get" class="form-inline">
            <div class="search-container">
                <input type="hidden" name="gid" value="<%=formdata.gid%>" />
                <input type="text" size="40" name="q" value="<% if (formdata.q) { %><%=formdata.q%><% } %>" placeholder="酒店名称" />&nbsp;
                <input type="submit" value="搜索" class="btn btn-info" />&nbsp;</div>
        </form>
    </div>
</div>
<% } %>
<div class="results">
    <table id="result_list" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th scope="col" width="240">
                    <div class="text">酒店</div>
                </th>
                <th scope="col">
                    <div class="text">地址</div>
                </th>
                <th scope="col" width="240">
                    <div class="text">房型</div>
                </th>
                <th scope="col" width="60">
                    <div class="text">床型</div>
                </th>
                <th scope="col" width="60">
                    <div class="text">面积</div>
                </th>
                <th scope="col" width="14"></th>
                <th scope="col" width="100">
                    <div class="text">操作</div>
                </th>
            </tr>
        </thead>
        <tbody>
        <% list.forEach(function(v, i) { %>
            <tr>
                <td <% if (v.rooms.length > 0) { %>rowspan="<%=v.rooms.length%>"<% } %>>
                <% if (v.website.length > 0) { %>
                    <a href="<%=v.website%>" target="_blank"><%=v.namechn%></a>
                <% } else { %>
                    <%=v.namechn%>
                <% } %>
                </td>
                <td <% if (v.rooms.length > 0) { %>rowspan="<%=v.rooms.length%>"<% } %>>
                    <%=v.addresschn%>
                </td>
        <% if (v.rooms.length > 0) { %>
        <% v.rooms.forEach(function(r, j) { %>
        <% if (j !== 0) { %>
            <tr>
        <% } %>
                <td style="border-left:0"><%=r.namechn%></td>
                <td><%=r.bedtype%></td>
                <td><%=r.area%> &#13217;</td>
                <% if (roomstatus[r.roomtypeid]) { %>
                <td><%-roomstatus[r.roomtypeid]["icon"]%></td>
                <td></td>
                <% } else { %>
                <td></td>
                <td>
                    <a href="javascript:void(0)" class="precisely-connect" data-gid="<%=formdata.gid%>" data-roomtypeid="<%=r.roomtypeid%>">关联</a>
                </td>
                <% } %>
            </tr>
        <% }); %>
        <% } else { %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        <% } %>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="below-actions">
    <% include inc/pagination.html %>
</div>

<script src="/static/js/connect-list.js?<%=staticversion%>"></script>
<% include inc/footer.html %>
