<% include inc/header.html %>
<div id="content" class="flex row-fluid">
    <div id="content-main">
        <div class="inner-center-column">
            <div class="module filtered" id="changelist">
<div class="toolbar-content clearfix">
    <div id="toolbar" class="clearfix">
        <form id="changelist-search" action="" method="get" class="form-inline">
            <div class="search-container">
                <input type="text" size="40" name="q" value="<% if (formdata.q) { %><%=formdata.q%><% } %>" placeholder="酒店名称" />&nbsp;
                <input type="submit" value="搜索" class="btn btn-info" />&nbsp;</div>
        </form>
    </div>
</div>
<div class="results">
    <table id="result_list" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th scope="col" width="26">
                    <div class="text">类型</div>
                </th>
                <th scope="col" width="80">
                    <div class="text">淘宝编号</div>
                </th>
                <th scope="col" width="240">
                    <div class="text">酒店（淘宝/货源）</div>
                </th>
                <th scope="col">
                    <div class="text">地址（淘宝/货源）</div>
                </th>
                <th scope="col" width="240">
                    <div class="text">房型（淘宝/货源）</div>
                </th>
                <th scope="col" width="100">
                    <div class="text">更新时间</div>
                </th>
                <th scope="col" width="50">
                    <div class="text">价格类型</div>
                </th>
                <th scope="col" width="50">
                    <div class="text">加价类型</div>
                </th>
                <th scope="col" width="50">
                    <div class="text">加价额度</div>
                </th>
                <th scope="col" width="100">
                    <div class="text">操作</div>
                </th>
            </tr>
        </thead>
        <tbody>
        <% list.forEach(function(v, i) { %>
            <tr>
                <td><%-v.typeicon%></td>
                <td>
                    <a href="http://kezhan.trip.taobao.com/publish.htm?item_num_id=<%=v.iid%>&auto=false" target="_blank"><%=v.iid%></a>
                </td>
            <%if (v.status == 4) {%>
                <td><%=v.taobaohotel%> / <%=v.jielvhotel%></td>
                <td><%=v.taobaoaddress%> / <%=v.jielvaddress%></td>
                <td><%=v.taobaoroomtype%> / <%=v.jielvroomtype%></td>
                <td><%=v.updated_at%></td>
                <td><%=v.ratetypestring%></td>
                <td><%=v.ptypestring%></td>
                <td><%=v.profit%></td>
                <td></td>
            <%} else {%>
                <td><%=v.jielvhotel%></td>
                <td><%=v.jielvaddress%></td>
                <td><%=v.jielvroomtype%></td>
                <td><%=v.updated_at%></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
            <%}%>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="below-actions">
    <% include inc/pagination.html %>
</div>
            </div>
        </div>
    </div>
</div>
<% include inc/footer.html %>
