<% include inc/header.html %>
<div id="content" class="flex row-fluid">
    <div id="content-main">
        <div class="inner-center-column">
            <div class="module filtered" id="changelist">
<div class="toolbar-content clearfix">
    <div id="toolbar" class="clearfix">
        <form id="changelist-search" action="" method="get" class="form-inline">
            <div class="search-container">
                <input type="text" size="40" name="q" value="<% if (formdata.q) { %><%=formdata.q%><% } %>" placeholder="酒店名称" />&nbsp;
                <input type="submit" value="搜索" class="btn btn-info" />&nbsp;</div>
                <% if (formdata.c) { %>
                <input type="hidden" name="c" value="<%=formdata.c%>" />
                <% } %>
                <% if (formdata.s) { %>
                <input type="hidden" name="s" value="<%=formdata.s%>" />
                <% } %>
        </form>
    </div>
</div>
<div class="xfull">
    <ul class="toplinks breadcrumb">
        <% if (formdata.c || formdata.s) { %>
        <li class="date-back">
            <a href="?">« 全部</a>
            <span class="divider">|</span>
        </li>
        <li>
        <% if (formdata.c) { %>
            <%=(countries[formdata.c] && countries[formdata.c][0]) || "其他"%>&nbsp;&nbsp;
        <% } else if (formdata.s) { %>
            <%=(provinces[formdata.s] && provinces[formdata.s][0]) || "其他"%>&nbsp;&nbsp;
        <% } %>
        </li>
        <% } else { %>
        <% for (var k in provinces) { %>
        <li><a href="?s=<%=k%>"><%=provinces[k][0]%></a>&nbsp;</li>
        <% } %>
        <% for (var k in countries) { %>
        <li><a href="?c=<%=k%>"><%=countries[k][0]%></a>&nbsp;</li>
        <% } %>
        <% } %>
    </ul>
</div>
<div class="results">
    <table id="result_list" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th scope="col" class="name-column" width="240">
                    <div class="text">酒店</div>
                </th>
                <th scope="col" class="country-column">
                    <div class="text">地址</div>
                </th>
                <th scope="col" class="capital-column" width="240">
                    <div class="text">房型</div>
                </th>
                <th scope="col" class="capital-column" width="100">
                    <div class="text">状态</div>
                </th>
                <th scope="col" class="continent-column" width="100">
                    <div class="text">操作</div>
                </th>
            </tr>
        </thead>
        <tbody>
        <% list.forEach(function(v, i) { %>
            <tr>
                <td <% if (v.rooms.length > 0) { %>rowspan="<%=v.rooms.length%>"<% } %>>
                <% if (v.website.length > 0) { %>
                    <a href="<%=v.website%>" target="_blank"><%=v.namechn%></a>
                <% } else { %>
                    <%=v.namechn%>
                <% } %>
                </td>
                <td <% if (v.rooms.length > 0) { %>rowspan="<%=v.rooms.length%>"<% } %>>
                    <%=v.addresschn%>
                </td>
        <% if (v.rooms.length > 0) { %>
        <% v.rooms.forEach(function(r, j) { %>
        <% if (j !== 0) { %>
            <tr>
        <% } %>
                <td style="border-left:0"><%=r.namechn%></td>
                <td><%-roomstatus[r.roomtypeid]%></td>
                <td>
                    <a href="/publish/confirm/?hid=<%=v.hotelid%>&rid=<%=r.roomtypeid%>&hname=<%=v.namechn%>&rname=<%=r.namechn%>&domestic=<%=v.city < 99999%>">发布</a>
                </td>
            </tr>
        <% }); %>
        <% } else { %>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        <% } %>
        <% }); %>
        </tbody>
    </table>
</div>
<div class="below-actions">
    <% include inc/pagination.html %>
</div>
            </div>
        </div>
    </div>
</div>
<% include inc/footer.html %>
