                </div>
                <div id="suit-left" class="suit-column">
                    <div class="left-nav" id="left-nav">
                        <ul>
                            <li <% if (navType == "tasks") { %>class="active"<% } %>>
                                <a href="/"><i class="icon-tasks"></i>已关联</a></li>
                            <li <% if (navType == "connect") { %>class="active"<% } %>>
                                <a href=""><i class="icon-magnet"></i>关联</a></li>
                            <li <% if (navType == "publish") { %>class="active"<% } %>>
                                <a href="/publish/"><i class="icon-upload"></i>发布</a></li>
                            <li <% if (navType == "help") { %>class="active"<% } %>>
                                <a href=""><i class="icon-question-sign"></i>帮助</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer">
        <div class="content">
            <div class="copyright">
                Copyright &copy; 2014 ChasingIce.info<br>Developed by <a href="http://icewhite.us/" target="_blank">Ice White</a>
            </div>
            <div class="branding">
                逐冰之旅
            </div>
        </div>
    </div>
</body>
</html>
