<% if (pagination.required) { %>
<div class="pagination-block">
    <div class="pagination">
        <ul>
        <% pagination.list.forEach(function(i) { %>
        <% if (i == ".") { %>
            <li class="disabled"><a href="javascript:void(0)">...</a></li>
        <% } else if (i == pagination.current) { %>
            <li class="active"><a href=""><%=pagination.current%></a></li>
        <% } else if (i == pagination.num_pages) { %>
            <li><a href="?p=<%=i%><%=pagination.querystring%>" class="end"><%=i%></a></li>
        <% } else { %>
            <li><a href="?p=<%=i%><%=pagination.querystring%>"><%=i%></a></li>
        <% } %>
        <% }); %>
        </ul>
    </div>
    <div class="pagination-info muted">
        <%=pagination.range%>
        &nbsp; / &nbsp;
        <%=pagination.total%> <%=pagination.item%>
    </div>
</div>
<% } %>
